body{
    background: linear-gradient(45deg, #B9F3FC, #AEE2FF, #93C6E7, #FEDEFF);
    box-sizing: 300% 300%;
    animation: cores 15s ease infinite;
}
h1{
    border-radius: 5px;
    text-align: center;
    box-shadow: #000000 0px 3px 8px;
    color: #fdfdfd;
    background: linear-gradient(45deg, #0A2647, #144272, #205295, #2C74B3);
    box-sizing: 300% 300%;
    animation: cores 15s ease infinite;
}

@keyframes cores{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}